<form [formGroup]="contactForm">
  <h2>{{ title }}</h2>
  <div class="grid p-fluid lg:col-6 md:col-12">
    <div class="p-col-12 lg:col-4 md:col-12">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        type="text"
        pInputText
        formControlName="firstName"
      />
      <small
        *ngIf="showErrorMessage('firstName', 'required')"
        id="firstName-error"
        class="p-error block"
        >First Name required.</small
      >
    </div>
    <div class="p-col-12 lg:col-4 md:col-12">
      <label for="surname">Surname</label>
      <input id="surname" type="text" pInputText formControlName="surname" />
      <small
        *ngIf="showErrorMessage('surname', 'required')"
        id="surname-error"
        class="p-error block"
        >Surname required.</small
      >
    </div>
    <div class="p-col-12 lg:col-4 md:col-12">
      <label for="birthDate">Birth Date</label>
      <p-calendar inputId="birthDate" formControlName="birthDate"></p-calendar>
      <small
        *ngIf="showErrorMessage('birthDate', 'required')"
        id="birthDate-error"
        class="p-error block"
        >Birth Date required.</small
      >
    </div>
    <div class="p-col-12 lg:col-6 md:col-12">
      <label for="line1">Line1</label>
      <input id="line1" type="text" pInputText formControlName="line1" />
      <small
        *ngIf="showErrorMessage('line1', 'required')"
        id="line1-error"
        class="p-error block"
        >Line1 required.</small
      >
    </div>
    <div class="p-col-12 lg:col-6 md:col-12">
      <label for="line2">Line2</label>
      <input id="line2" type="text" pInputText formControlName="line2" />
    </div>
    <div class="p-col-12 lg:col-4 md:col-12">
      <label for="postcode">Postcode</label>
      <input id="postcode" type="text" pInputText formControlName="postcode" />
      <small
        *ngIf="showErrorMessage('postcode', 'required')"
        id="postcode-error"
        class="p-error block"
        >Postcode required.</small
      >
    </div>
    <div class="p-col-12 lg:col-4 md:col-12">
      <label for="city">City</label>
      <input id="city" type="text" pInputText formControlName="city" />
      <small
        *ngIf="showErrorMessage('city', 'required')"
        id="city-error"
        class="p-error block"
        >City required.</small
      >
    </div>
    <div class="p-col-12 lg:col-4 md:col-12">
      <label for="country">Country</label>
      <input id="country" type="text" pInputText formControlName="country" />
      <small
        *ngIf="showErrorMessage('country', 'required')"
        id="country-error"
        class="p-error block"
        >Country required.</small
      >
    </div>
    <div class="p-col-12 lg:col-4 md:col-12">
      <label for="phoneNumber">Phone Number</label>
      <input
        id="phoneNumber"
        type="text"
        pInputText
        formControlName="phoneNumber"
      />
      <small
        *ngIf="showErrorMessage('phoneNumber', 'required')"
        id="phoneNumber-error"
        class="p-error block"
        >Phone Number required.</small
      >
      <small
        *ngIf="showErrorMessage('phoneNumber', 'pattern')"
        id="phoneNumber-pattern-error"
        class="p-error block"
        >Phone Number is in incorrect format - example +123-456-789 or
        088-111-1-11</small
      >
    </div>
    <div class="p-col-12 lg:col-4 md:col-12">
      <label for="iban">IBAN</label>
      <input id="iban" type="text" pInputText formControlName="iban" />
      <small
        *ngIf="showErrorMessage('iban', 'required')"
        id="iban-error"
        class="p-error block"
        >IBAN required.</small
      >
      <small
        *ngIf="showErrorMessage('iban', 'pattern')"
        id="iban-pattern-error"
        class="p-error block"
        >IBAN is in incorrect format - example
        BG12-ABCD-1234-5678-1234-56</small
      >
    </div>
  </div>
  <button
    pButton
    pRipple
    id="add-edit-btn"
    label="Save"
    icon="pi pi-check"
    class="p-button"
    [disabled]="!isFormValid"
    (click)="addEdit()"
  ></button>
  <button
    pButton
    pRipple
    id="cancel-btn"
    label="Cancel"
    icon="pi pi-times"
    class="p-button"
    (click)="cancel()"
  ></button>
</form>
